.container-details{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.card-detail{
    height: 600px;
    display: flex;
    width: 35rem;
}


 .card-body{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    justify-content: center;
    align-items:center ;
 }

.title-detail{
    display: inline-block;
    font-size: 2rem;

}
.subtitle-detail{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    display: inline-block;
    font-weight: bold;
    
}

.text-detail{
    font-size: 1rem;
    font-style: italic;
    display: inline-block;
    font-weight: 500;
    border-bottom: 1px solid #aaa;
}

.population-detail{
    font-weight: 500;
}

@media (max-width:480px){
    .card{
        margin: 1rem;
    }
}